@import './../../base';

.Header{
    width: 100%;
    height: $HEADER_HEIGHT;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0px;
    background: linear-gradient(to bottom, rgba($color: $BG_BLACK, $alpha: 0.9), rgba($color: $BG_BLACK, $alpha: 0.9) 60%, rgba($color: $BG_BLACK, $alpha: 0));
    color: $FNT_BASIC;
    transition-duration: 500ms;

    *{
        padding: 0;
        display: inline-block;
    }

    .Menu{
        list-style: none;
        float: right;
        margin: 0px;    

        li{
            line-height: $HEADER_HEIGHT;
            padding-right: 20px;
            font-size: 16px;
            cursor: pointer;
        }
        
        li:hover{
            color: aliceblue;
            transition-duration: $TRANSITION_DUR_SM;
        }

    }
    
}

.Header.OffScreen{
    top:-$HEADER_HEIGHT
}